<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>apply</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
        </head>
    <body>
        you : {{user.username}}
        <h1> choose the opponent:</h1>
        <ul>
            {% for player in players %}
                <li><a href="/play/match/{{user.id}}/{{player.id}}">{{ player.username }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>