<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>reversi field</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet" >

        <!--　静的ファイル読み込み -->
        {% load static %}

        <!-- JavaScript読み込み -->
        <script src="{% static 'js/ban.js' %}"></script>

        <!-- CSS読み込み -->
        <link rel="stylesheet" href="{% static 'css/ban.css' %}">

        <!-- contextの変数をjavascriptで扱う際、中身を一旦変数化しておく必要がある-->
        <script>
            let board_state = {{ board_state_key }}
        </script>
    </head>
    <body onload="init()">
        <h1> here is ban </h1>
        <table id="board"></table>
        <form id ="board_refresh" action="{% url 'oserou_forplay:board_refresh' %}" method="post">
            {% csrf_token %}
                <input type="hidden" id="board_state_send">
                <input type="hidden" id="selected_row_send">
                <input type="hidden" id="selected_collumn_send">
                <input type="hidden" id="color_send" value ="2">
            <input type="submit" value="submit your choice">
        </form>

        <form id ="end_game" action="{% url 'oserou_forplay:result' %}" method="post">
            {% csrf_token %}
                <input type="hidden" name = 'result' id="board_state_result">
            <input type="submit" value="show result(end game)">
        </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#board_refresh').on('submit', function(e) {
                e.preventDefault();

                $.ajax({
                    'url': '{% url "oserou_forplay:board_refresh" %}',
                    'type': 'POST',
                    'data': {
                        'board_state': $('#board_state_send').val(),
                        'selected_row': $('#selected_row_send').val(),
                        'selected_collumn': $('#selected_collumn_send').val(),
                        'color': $('#color_send').val(),
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    let player = "first move";
                    board_state = response.new_board_state;
                    let valid = response.return_code;
                    refreshBoard(board_state);
                    if (valid == 0){
                        turn++;
                    }
                    else if(valid == 1){
                        alert("invalid input. choose another cell.")
                    }
                    else if(valid == 2){
                        alert("passed(there are no valid cells.)")
                        turn++;
                        pass++;
                    }
                    else if(valid == 3){
                        alert("finish")
                    }
                    else if(valid == 4){
                        alert("submit your action.")
                    }
                    else{
                        alert("oh no")
                    }

                    if ((turn)%2 == 0){
                        player = "first move";
                    }
                    else{
                        player = "second move";      
                    }
                    alert("turn " + (turn+1) + "\n" + player + "'s turn");
                });
            });
        </script>
    </body>
</html>